div.vtta.party nav.tabs {
  display: flex;
  flex-direction: row;
}

div.vtta.party nav li {
  display: inline-block;
  list-style-type: none;
}

div.vtta.party nav .item {
  color: gray;
}

div.vtta.party nav .item.active {
  color: black;
  border-bottom: 2px solid #782e22;
  text-shadow: none;
}

#vtta-party-button {
  display: block;
  flex: 0 0 32px;
  height: 32px;
}

div.vtta.party .table-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;
}

div.vtta.party .table-row:nth-child(2n) {
  background-color: rgb(228, 228, 228);
}

div.vtta.party .table-row .text {
  margin: auto;
  flex-grow: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
  flex-basis: 50px;
}

div.vtta.party .table-row .text.icon {
  text-align: center;
}

div.vtta.party .table-row .num {
  margin: auto;
  text-align: center;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 1;
}

div.vtta.party .table-row .button {
  margin: auto;
  text-align: center;
  flex-basis: 70px;
  flex-grow: 0;
  flex-shrink: 1;
}

/*
  * General good-look styles, not mandatory.
  */

div.vtta.party .table-row {
  border-bottom: 1px solid rgb(190, 190, 190);
  border-collapse: collapse;
  padding: 4px;
}

div.vtta.party .table-row.header {
  font-weight: bold;
}

div.vtta.party.wfrp4e .table-row .button {
  margin-right: 6px;
}
div.vtta.party.wfrp4e .table-row .button button {
  margin: 0px 5px 6px 5px !important;
  padding: 2px 0px 0px 0px;
  height: 34px;
  border: 1px solid black;
  border-image: url(/systems/wfrp4e/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  box-shadow: 2px 2px 1px #00000085;
  background: url(/systems/wfrp4e/ui/sidebar_button-background_red.png) repeat;
  background-origin: padding-box;
  color: #dadada;
  font-family: CaslonAntique;
  font-size: 12px;
  font-weight: 500;
  text-shadow: 0px 0px 1px #00000063;
}

div.vtta.party.wfrp4e .table-row:nth-child(2n) {
  background-color: rgba(228, 228, 228, 0.34);
}
#vtta-party-button.wfrp4e {
  display: block;
  flex: 0 0 32px;
  height: 32px;

  margin: 0px 5px 6px 5px !important;
  padding: 2px 0px 0px 2px;
  height: 34px;
  border: 1px solid black;
  border-image: url(/systems/wfrp4e/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  box-shadow: 2px 2px 1px #00000085;
  background: url(/systems/wfrp4e/ui/sidebar_button-background_red.png) repeat;
  background-origin: padding-box;
  color: #c9c6a7;
  font-family: CaslonAntique;
  font-size: 12px;
  font-weight: 500;
  text-shadow: 0px 0px 1px #00000063;
}
