<div class="tab proficiencies" data-tab="proficiencies" data-group="party">
	<div class="table-row header">
		{{> "modules/party-overview/templates/parts/FilterButton.html"}}
		<div class="text">{{localize "party-overview.NAME"}}</div>
		{{#each skills as | s | }}
		<div class="num party-overview-ellipsis" title="{{s}}">{{s}}</div>
		{{/each}}
	</div>

	{{#each actors as | actor | }}
	<div class="table-row">
		{{> "modules/party-overview/templates/parts/ToggleVisibilityButton.html"}}
		<div class="text">{{ actor.shortestName }}</div>
		{{#each actor.skills as | skill| }}
		<div class="num" style="flex: 1">
			<i class="{{skill}}"></i>
		</div>
		{{/each}}
	</div>
	{{/each}}
</div>
