<div class="button">
	<!-- prettier-ignore -->
	<button class="btn-filter"
		{{#if (eq mode 0)}}title="{{localize "party-overview.filter.0"}}"><i class="fas fa-map"></i>{{/if}}
        {{#if (eq mode 1) }}title="{{localize "party-overview.filter.1"}}"><i class="fas fa-eye"></i>{{/if}}
        {{#if (eq mode 2) }}title="{{localize "party-overview.filter.2"}}"><i class="fas fa-eye-slash"></i>{{/if}}
		{{#if (eq mode 4) }}title="{{localize "party-overview.filter.4"}}"><i class="fas fa-users"></i>{{/if}}
		{{#if (eq mode 3) }}title="{{localize "party-overview.filter.3"}}">All{{/if}}
	</button>
</div>
